.home{
   
   background-image: url("public/background.jpg");
   background-repeat:no-repeat;
   background-size:cover;
   background-position: center;
   background-position-y: bottom;

   z-index: 11;
}

.username{
  text-align: left;
}



.acTitle{
  margin-top: 26vh;
  font-size: 7vw;
}

