
a{
    color: white;
    text-decoration: none;
}

/* ------------------- accueil ---------------------- */
.home{
   margin-top: 0;
   background-image: url("public/background.jpg");
   background-repeat:no-repeat;
   background-size:cover;
   background-position: top center;
   height: 1080px;
}

.acTitle{
    text-align: center;
    text-shadow: 4px 7px 12px black;
    margin-top: 26vh;
    font-size: 7vw;
}

.acCredit{
    color: rgb(255, 255, 255);
    text-align: center;
    text-shadow: 4px 5px 5px black;
}

.acSubTitle{
    text-align: center;
    margin-top: 18vh;
    text-shadow: 4px 5px 5px black;
}

/* ------------------- projet ---------------------- */

.projets{
    background-image: url("public/background2.png");
    min-height: 100vh;
    background-size: 100% 100%;   /* étire sans jamais rogner */
    background-repeat: no-repeat;
    height: 1920px;
}

.projets h1:hover{
    cursor:default;
}

.proTitle{
    text-align: center;
    text-shadow: 4px 7px 12px black;
    margin-top: 26vh;
    font-size: 7vw;
}

.cards{
    background-color: #fdfcfca1;
    border-color: rgb(255, 255, 255);

    margin-top: 20vh;
    margin-left: auto;
    margin-right: auto;


    text-align: center;
    border: 0.5px;
    padding: 20px ;
    border-style: solid;
    width: 75%;
    
    border-radius: 20px ;

    box-shadow: 4px 7px 10px black;

}

.cardBelgacai{
    background-color: #fdfcfca1;
    border-color: rgb(255, 255, 255);

    margin-top: 20vh;
    margin-left: auto;
    margin-right: auto;


    text-align: center;
    border: 0.5px;
    padding: 20px ;
    border-style: solid;
    width: 75%;
    
    border-radius: 20px;

    box-shadow: 4px 7px 10px black;
}

.cardBelgacai:hover{
    cursor: grab;
    scale: 101%;
    box-shadow: 2px 5px 14px black;
}

.cardBelgacai img{
    border-radius: 20px;
    width: 45%;
    margin-left: auto;
    margin-right: auto;
}

.cards:hover{
    cursor: grab;
    scale: 101%;
    box-shadow: 2px 5px 14px black;
}

.cards img{
    border-radius: 20px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.cardsSubTitle{
    margin-top: 2vh;
    font-size: x-large;
    color: rgb(58, 58, 58);
    text-align: center;
    text-decoration: underline;
}

.cardsDescription{
    color: rgb(61, 61, 61);
    text-align: center;
}

/* ------------------- Skills ---------------------- */

.skills{
    background-image: url("public/background3.jpg");
    min-height: 100vh;
    background-size: 100% 100%;   /* étire sans jamais rogner */
    background-repeat: no-repeat;
    height: 4000px;
}

/* ------------------- notAvailable ---------------------- */

.notAv{
    min-height: 100vh;
    background-size: 100% 100%;   /* étire sans jamais rogner */
    background-repeat: no-repeat;
    height: 1920px;
    background-color: black;
    background-image: url("public/notAvailable.jpg");
    min-height: 100vh;
    background-size: 100% 100%;   /* étire sans jamais rogner */
    background-repeat: no-repeat;
    height: 1080px;
}

.notTitle{
    text-shadow: 4px 7px 10px black;
    margin-top: 35vh;
    text-align: center;
    font-size: 3vw;
}

.notSubtitle{
    text-align: center;
}

/* ------------------- menu ---------------------- */


.logoB{
    border: 0;
    border-radius: 100%;
    background-color: transparent;
    width: 10vh;
    height: 10vh;

    position: fixed;

    margin-left: 2vw;
    margin-top: 0.5vw;
}

.logoB:hover{
    cursor: grab;
}

.logo{
    width: 100%;
    height: 100%;
}

.acmenu{
    top: 0;

    display: flex;
    justify-content: center; /* Centre horizontalement les enfants */

    margin-left: auto;
    margin-right: auto;
}

.acmenu button{
    margin-top: 30vh;
    margin-top: 2vh;
    margin-right: 1vw;
    margin-left: 1vw;

    width: 12vw;
    height: 5vh;

    background-color: transparent;
    font-size: 1vw;
}

.contact{
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-color: transparent;
}

.contact:hover{
    border-color: white;
    border-style: solid;
}

.hire{
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-color: transparent;
}

.hire:hover{
    border-color: white;
    border-style: solid;
}

.skillB{
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-color: transparent;
}

.skillB:hover{
    border-color: white;
    border-style: solid;
}

.projet{
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-color: transparent;
}

.projet:hover{
    border-color: white;
    border-style: solid;
}