.logoB{
    border: 0;
    border-radius: 100%;
    background-color: transparent;
    width: 7vw;
    height: 7vw;

    margin-left: 13px;
    margin-top: 13px;
}

.logoB:hover{
    cursor: grab;
}

.logo{
    width: 100%;
    height: 100%;
}

.contLogo{

    position: fixed;
}

.acmenu{
    display: flex;
    justify-content: center; /* Centre horizontalement les enfants */

    
    margin-left: auto;
    margin-right: auto;
}

.acmenu button{
    margin-top: 30vh;
    margin-top: 2vh;
    margin-right: 1vw;
    margin-left: 1vw;

    width: 12vw;
    height: 5vh;

    background-color: transparent;
    font-size: 1vw;
}

.contact{
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-color: transparent;
}

.contact:hover{
    border-color: white;
    border-style: solid;
}

.hire{
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-color: transparent;
}

.hire:hover{
    border-color: white;
    border-style: solid;
}

.skills{
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-color: transparent;
}

.skills:hover{
    border-color: white;
    border-style: solid;
}

.projet{
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-color: transparent;
}

.projet:hover{
    border-color: white;
    border-style: solid;
}