
/* ------------------- accueil ---------------------- */
.home{
    margin: 0;

    background-image: url("../public/background.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    background-position: center;
}

.acTitle{
    text-shadow: 3px 7px 12px rgba(0, 0, 0, 0.678);
    margin-top: 26vh;
    font-size: 7vw;
}

.acSubTitle{
    margin-top: 12vh;
    font-size: xx-large;
    text-shadow: 3px 7px 12px rgba(0, 0, 0, 0.678);
}

/* ------------------- projet ---------------------- */

.projets{
    margin: 0;
    min-height: 100vh;

    background-color: black;
    background-image: url("../public/background2.jpg");
    background-repeat: no-repeat;
    background-position: too center;
    background-attachment: scroll; 
    background-size: 100% auto; 
}

.test{
    text-shadow: 3px 7px 12px rgba(0, 0, 0, 0.678);
    margin-top: 420vh;
}

.proTitle{
    text-shadow: 3px 7px 12px rgba(0, 0, 0, 0.678);
    margin-top: 26vh;
    font-size: 4vw;
}

.pro1{
    margin-top: 52vh;
    padding: 4px;
    border-radius: 20px;
}

.proSubTitle {
    margin-left: 20vw;
    text-align: left;
    font-size: xx-large;
    color: black;
    

}


/* ------------------- notAvailable ---------------------- */

.notAv{
    margin: 0;
    min-height: 100vh;

    background-color: black;
    background-image: url("../public/notAvailable.jpg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-attachment: scroll; 
    background-size: 90% auto;
}

.notTitle{
    text-shadow: 3px 7px 12px rgba(0, 0, 0, 0.678);
    margin-top: 26vh;
    font-size: 3vw;
}

.notSubtitle{
    text-shadow: 3px 4px 5px rgba(0, 0, 0, 0.678);
}

/* ------------------- menu ---------------------- */

.logoB{
    border: 0;
    border-radius: 100%;
    background-color: transparent;
    width: 7vw;
    height: 7vw;

    margin-left: 13px;
    margin-top: 13px;
}

.logoB:hover{
    cursor: grab;
}

.logo{
    width: 100%;
    height: 100%;
}

.contLogo{

    position: fixed;
}

.acmenu{
    display: flex;
    justify-content: center; /* Centre horizontalement les enfants */

    
    margin-left: auto;
    margin-right: auto;
}

.acmenu button{
    margin-top: 30vh;
    margin-top: 2vh;
    margin-right: 1vw;
    margin-left: 1vw;

    width: 12vw;
    height: 5vh;

    background-color: transparent;
    font-size: 1vw;
}

.contact{
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-color: transparent;
}

.contact:hover{
    border-color: white;
    border-style: solid;
}

.hire{
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-color: transparent;
}

.hire:hover{
    border-color: white;
    border-style: solid;
}

.skills{
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-color: transparent;
}

.skills:hover{
    border-color: white;
    border-style: solid;
}

.projet{
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-color: transparent;
}

.projet:hover{
    border-color: white;
    border-style: solid;
}