.projets{
   
   background-image: url("public/background2.jpg");
   background-repeat:no-repeat;
   background-size:cover;
   background-position: center;
   background-position-y: bottom;

   z-index: 11;
}

.proTitle{
  margin-top: 26vh;
  font-size: 7vw;
}